.Page {
  padding: 3%;
  font-family: sans-serif;
  border-top: 1.2px solid rgb(204, 202, 202);
}

.Page h1 {
  text-align: center;
}

.Page p {
  width: 70%;
  margin-left: 15%;
  margin-top: 20px;
  text-align: justify;
}

.Page button{
    font-size: 1rem;
    width: 70%;
    margin-top: 25px;
    margin-left: 15%;
    padding: 8px;
    border: none;
    background-color: #fa2020;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;

}
.imageContainer {
    margin-top: 45px;
  width: 70%;
  margin-left: 15%;
  /*border: 3px solid palevioletred;*/
  display: flex;
  flex-wrap: wrap;
}

.imageContainer img {
  width: 28%;
  height: 50%;
  margin: 1% 2%;
  border-radius: 20px;
}

.Clicked {
    transform: scale(1.1); /* For example, scale the image */
    transition: transform 0.3s ease; /* Apply transition to transform property */
  }

