* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  /* border: 1px solid red;*/
  /*border-bottom: 1px solid rgb(228, 220, 220);*/
  color: white;
  background-color: black;
}
.navContainer {
  display: flex;
}

.navbar img {
  width: 180px;
  height: 100px;
  margin-left: 20px;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 0 auto;
  justify-content: right;
  padding: 12px;
  font-size: 24px;
}

.navbar ul li {
  padding: 8px 14px;
  border-radius: 9px;
  margin-right: 20px;
}

.navContainer ul li:hover {
  color: rgb(90, 95, 252);
}

.navbar ul button {
  padding: 3px 24px;
  border-radius: 9px;
  margin-right: 20px;
  background-color: rgb(90, 95, 252);
  color: white;
  border: none;
  height: 50px;
  width: 160px;
  font-size: 22px;
}
.toggle-btn {
  display: none;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
}

@media screen and (max-width: 800px) {
  .toggle-btn {
    display: flex;
    /* Show button when screen width is below 800px */
    width: 50px;
    align-items: center;
    justify-content: center;
  }

  .toggle-btn-show{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navContainer img {
    display: none;
  }
  .navContainer ul {
    display: none; /* Hide nav links by default */
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: black;
    width: 100%;
    padding: 0;
  }

  .navContainer ul li {
    border-bottom: 1px solid rgb(90, 95, 252);
  }
  .nav-links.show {
    display: flex; 
  }

  .navContainer button {
    display: none;
  }
}
