.footer{
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    background-color: #fa2020;
    color: white;
}

.footerContents{
    display: flex;
    flex-direction: column;
 /*   border: 3px solid green;*/
    margin: 4%;
    padding: 4%;
    font-size: 1.2rem;
}

.quickLinks {
    display: flex;
flex-direction: column;
  /*  border: 3px solid blue;*/
    margin: 4%;
    padding: 4%;
}
.quickLinks ol{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}